/* Zackary Moyer */
select
{
    width:  100%;
    height: 42px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top:20px;
}
table th {
    border: 1px solid black;
    padding: 8px;
}
table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: white;
    color:black;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: blue;
    border: none;

}


.btn-danger {
    color: white;
    background-color: lightcoral;
    border: none;


}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-danger:hover {
    background-color: red;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav li {
    color: white;
    display: inline-block;
}
/* Zackary Moyer */